
@import "freelancer";
@import "variables";


.clients-cta {
	background-color: $gray;
	color: #fff;
	text-align: center;

}


.products {
	background-color: $theme-primary;
}

header img {
	margin-bottom: 50px;
}
